* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #555;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  color: #ff305b;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  margin-bottom: 15px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.heading {
  font-weight: 600;
  margin: 0 0 10px;
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.row {
  margin: 0 -15px;
}

.logo-container {
  padding: 0 15px;
  width: 25%;
}

.logo {
  color: #ff305b;
  font-size: 24px;
  font-weight: 800;
  padding: 18px 0;
  display: block;
}

.nav-container {
  padding: 0 15px;
  width: 75%;
}

.nav-item {
  padding: 0 10px;
}

.nav-text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding: 20px 0;
  display: block;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.nav-text:hover {
  color: #ff305b;
}

.nav-item:first-child .nav-text {
  color: #ff305b;
}

.hero {
  height: 100vh;
  background-image: url(./img/slider/slider-01.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
  position: relative;
  color: white;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
}

.hero-heading-1 {
  color: white;
  font-size: 24px;
}

.hero-heading-2 {
  font-size: 26px;
  text-transform: capitalize;
  color: #fff;
}

.about-section {
  padding: 100px 0 125px;
}

.about-box {
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.profile-photo {
  border-radius: 5px;
}

.profile-photo img {
  border-radius: 5px;
}

.profile-description {
  width: 100%;
}

.profile-heading {
  font-size: 34px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 25px;
  position: relative;
  text-transform: uppercase;
}

.profile-heading span {
  color: #ff305b;
}

.profile-paragraph {
  border-bottom: 1px dashed #999999;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.profile-about {
  display: table;
  width: 100%;
}

.about-item {
  font-weight: 400;
  line-height: 1;
  margin-bottom: 25px;
  white-space: nowrap;
}

.about-item:nth-child(2n + 1) {
  width: 40%;
  float: left;
}

.about-item span {
  color: #333333;
  font-weight: 500;
}

.about-item a {
  color: #7e7e7e;
}

.about-button {
  background: #ff305b none repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  margin-right: 10px;
  padding: 10px 24px;
  transition: all 0.3s ease-in-out;
}

.about-button:hover {
  background: #ec2403;
}

.button-icon {
  margin-left: 5px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .hero-heading-2 {
    font-weight: 300;
  }
  .about-box {
    width: 50%;
  }
  .profile-description {
    width: 50%;
    padding-left: 70px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .about-box {
    margin-left: 8.34%;
    width: 33.34%;
    box-shadow: 0 0 0 8px #555555 inset;
  }
  .profile-photo {
    translate: 24px 24px;
  }
  /* .profile-description {
    width: 58.34%;
  } */
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
